@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&family=Source+Serif+Pro:wght@300&display=swap');

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif; */
/* :root {
    --font: black;
    --navbarHeight: 45px;
} */

@import './root.css';

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--font);
    position: relative;
}

* {
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

li {
    display: list-item;
}

a {
    text-decoration: none;
    color: var(--font);
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.is-open {
    transform: translate(0);
}

.logo a {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.homepage {
    height: 100%;
    width: 100%;
}

.cart {
    z-index: 9003;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    transform: translate(100%);
    transition: transform 0.2s;
    background-color: aquamarine;
    overflow-y: scroll;
}

.cart.is-open {
    transform: translate(0);
}

.cart .close-cart-btn-container {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
