@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&family=Source+Serif+Pro:wght@300&display=swap');

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif; */

@import './root.css';

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--font);
    position: relative;
}

* {
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

li {
    display: list-item;
}

a {
    text-decoration: none;
    color: var(--font);
}

h1 {
    margin-bottom: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input {
    line-height: 1em;
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 0 0 1px;
    height: 2rem;
    width: 100%;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form button {
    margin: 10px;
}

form small {
    color: red;
}

.success-text {
    color: green;
}

.hidden {
    display: none;
}

.is-open {
    transform: translate(0);
}

.logo a {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.primary-btn {
    height: var(--primarybtnHeight);
    width: var(--primarybtnWidth);
    background-color: var(--black);
    color: var(--white);
    margin-bottom: 10px;
    border-radius: 5px;
}

.secondary-btn {
    height: var(--primarybtnHeight);
    width: var(--primarybtnWidth);
    background-color: var(--white);
    color: var(--black);
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid var(--black);
}

.sale-banner {
    display: none;
}

.homepage {
    height: 100%;
    width: 100%;
}

.hero-container img {
    height: auto;
    width: 100vw;
    object-position: bottom;
}

.featured-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.featured-products {
    max-width: 760px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    overflow-y: scroll;
    transition: background-color 0.3s ease-in-out;
    z-index: 9003;
}

.cart.is-open {
    width: 100vw;
    height: calc(100vh - var(--mobileBottomNavbarHeight));
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
}

.cart-contents {
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    padding: 1rem;
    transform: translate(100%);
    transition: transform 0.3s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.is-open .cart-contents {
    transform: translate(0);
    transition: transform 0.3s ease-in-out;
}

.cart .close-cart-btn-container {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login,
.account-container,
.admin {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.account-container .header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.delete-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media only screen and (min-width: 900px) {
    .featured-banner {
        max-width: 760px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 20px;
    }

    .sale-banner {
        display: block;
        height: 30px;
        text-align: center;
        background-color: var(--blue);
        font-size: 14px;
        padding: 5px;
    }
}
