.admin_inventory-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid gray;
}

.admin_inventory-item div {
    margin-right: 10px;
}

.admin_inventory-item img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}
