@import './root.css';

.nav_container {
    height: calc(var(--navbarHeight));
    width: 100vw;
    padding-left: 3rem;
    padding-right: 3rem;
    display: grid;
    grid-template-rows: auto auto;
}

.main_nav_container {
    z-index: 9001;
    background-color: coral;
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_nav_items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu_container {
    width: 100%;
    position: absolute;
    z-index: 9000;
    top: var(--navbarHeight);
    transform: translateY(-100%);
    transition: transform 0.2s;
    padding-left: 3rem;
    padding-right: 3rem;
}

.submenu_container:hover {
    transform: translate(0);
}

.submenu {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.main_nav_item {
    margin-right: 40px;
}

.global_user_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.global_user_nav a {
    margin-right: 10px;
}
