@import './root.css';

.nav_container {
    height: var(--navbarHeight);
    width: 100vw;
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.main_nav_container {
    z-index: 9002;
    background-color: var(--white);
    height: var(--navbarHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mobile-nav-container {
    background: var(--white);
    width: var(--mobileNavWidth);
    height: 100vh;
    position: absolute;
    z-index: 9000;
    top: var(--navbarHeight);
    transform: translateX(-100%);
    transition: transform 0.2s;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mobile_nav_item {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
}

.main_nav_items-container {
    display: none;
}

.submenu_container {
    width: 100%;
    position: absolute;
    z-index: 9000;
    top: calc(var(--navbarHeight) + 30px);
    transform: translateY(-100%);
    transition: transform 0.2s;
    padding-left: 3rem;
    padding-right: 3rem;
    background: var(--white);
}

.mobile-navsub_container {
    height: 100vh;
    width: var(--mobileNavWidth);
    position: absolute;
    z-index: 9000;
    top: var(--navbarHeight);
    transform: translateX(-100%);
    transition: transform 0.2s;
}

.mobile-nav-submenu {
    background: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 9001;

    font-size: 20px;
}

.mobile-nav-submenu button {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.submenu {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.mobile-hamburger-btn {
    position: absolute;
    left: 20px;
}

.main_nav_item {
    margin-right: 40px;
}

.global_user_nav {
    display: none;
}

.global_user_nav a {
    margin-right: 10px;
}

.mobile-user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9005;
    background-color: var(--white);
    box-shadow: 0 -3px 10px rgb(0, 0, 0, 0.2);
    height: var(--mobileBottomNavbarHeight);
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
}

.mobile-user-btn {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .main_nav_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mobile-user-nav {
        display: none;
    }

    .global_user_nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mobile-hamburger-btn {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    .submenu {
        display: flex;
    }

    .main_nav_items-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-navsub_container,
    .mobile-nav-container {
        display: none;
    }
}
