.product-card img {
    height: 350px;
    width: 250px;
    object-fit: fill;
}

.product-card button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}

.product-image-container {
    position: relative;
    width: fit-content;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 250px;
    /* display: none; */
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em 1em 3em;
    background-color: #fffc;
}
