.product-card {
    width: var(--productCardWidth);
    margin: 5px;
    background: var(--gray);
}

.product-card img {
    height: var(--productCardImgHeight);
    width: var(--productCardWidth);
    object-fit: fill;
}

.product-card button {
    display: grid;
    grid-template-columns: auto auto;
    background: #f8f8f8;
    border: 1px solid var(--borderColor);
    background-color: var(--white);
    width: calc(var(--productCardWidth) - 10px);
    padding: 10px;
    margin: 5px;
    position: absolute;
    bottom: 5px;
}

.button-text,
.product-price {
    font-weight: bold;
}

.product-name {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-subtitle {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.product-image-container {
    position: relative;
    width: fit-content;
}

.product-card-content {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--productCardImgHeight);
    width: var(--productCardWidth);
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--overlay);
}
