:root {
    --font: black;
    --white: #ffffff;
    --black: #000000;
    --gray: rgb(241, 241, 241, 0.8);
    --blue: #d6e0ee;
    --overlay: #fffc;
    --borderColor: rgba(0, 0, 0, 0.35);
    --navbarHeight: 70px;
    --submenuHeight: 100px;
    --mobileNavWidth: 360px;
    --primarybtnWidth: 180px;
    --primarybtnHeight: 50px;
    --productCardWidth: 175px;
    --productCardHeight: 380px;
    --productCardImgHeight: 230px;
    --mobileBottomNavbarHeight: 75px;
}

@media only screen and (min-width: 900px) {
    :root {
        --navbarHeight: 55px;
        --productCardWidth: 250px;
        --productCardHeight: 380px;
        --productCardImgHeight: 280px;
    }
}
